<footer class="footer">
  <p>&copy; <%= new Date().getFullYear() %> MovieIndex. All rights reserved.</p>
  <div class="footer-links">
    <a href="/">Home</a>
    <a href="/trending">Trending</a>
    <a href="/recent">Recently Added</a>
  </div>
</footer>