<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">🎬 MovieIndex</a>
    <form class="d-flex gap-2" action="/search" method="GET" style="flex: 0 1 400px;">
      <input class="form-control" type="search" name="q" placeholder="Search movies, series..." aria-label="Search">
      <button class="btn" type="submit">Search</button>
    </form>
  </div>
</nav>